<div class="distribucion">
    <app-cabecero></app-cabecero>
    <main>
        <div class="container">
            <section id="actions" class="py-4 mb-4 bg-light mt-4 rounded">
                <div class="container">
                    <div class="row">
                        <h3 class="text-center">Página no encontrada</h3>
                        <div class="d-grid gap-2 col-3 mx-auto">
                            <a routerLink="/" class="btn btn-light">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                Regresar al Inicio
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <app-pie-pagina></app-pie-pagina>
</div>